html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
}

.App {
  background: rgb(220, 215, 162);
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  font-family: "Press Start 2P";
  color: rgb(54 54 30);
}

.player{
  background: rgb(201, 205, 161);
  height: 650px;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 5;
}

.display{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background: rgb(232, 238, 192);
  height: 460px;
}

.display.nes-container {
    padding: 0;
}

.controls{
  height: 65px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
}

.play{
  width: 50px;
  height: 50px;
}

.navigator{

  width: 100%;
  height: 400px;
  overflow-y: scroll;
}

.navigator.nes-container {
  border-bottom: none;
  border-color: #797c5a;
}

.song-display{

  width: 100%;
  height: 52px;
}

.song-display.nes-container {
  border-top: none;
  padding: 0;
  border-color: #797c5a;
}



::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgb(232, 238, 192);
}
 
::-webkit-scrollbar-thumb {
  background: #797c5a; 
}

::-webkit-scrollbar-thumb:hover {
  background: #797c5a; 
}


.artist-title{
  padding-bottom: 5px;
}

.albums{
  padding-top: 5px;
}


.current-song{
  height: 75px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.album-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.album-header{
  display: flex;
  justify-content: flex-start;
  width: 100%;

  height: 25px;
  padding-bottom: 10px;
}

.album-indent{
  display: flex;
  justify-content: flex-end;
  position: relative;
  text-align: right;

  align-self: baseline;

  width: 50px;

  left: 20px;
  top: -2px;
  transform: rotate(180deg);
  text-shadow: #ced1aa -2px -2px;
  color: #797c5a;
}

.album-title {
  height: 14px;
  display: flex;
}

.song-container{
  display: flex;
  flex-direction: row;
  padding-bottom: 8px;
}

.song-indent {
  display: flex;
  justify-content: flex-end;
  position: relative;
  text-align: right;
  align-self: baseline;

  width: 90px;
  top: -2px;
  left: 60px;
  transform: rotate(180deg);
  text-shadow: #ced1aa -2px -2px;
  color: #797c5a;
}

.song-title {
  display: flex;
  align-items: center;

  width: 90%;
  line-height: 1.05;
}

.wide {
  width: 125px;
}

.artist-title, .album-title, .song-title{
  text-shadow: #ced1aa 2px 2px;
  color: #797c5a;
  z-index: 5;
  min-width: 100px;
}

.artist-title:hover , .album-title:hover , .song-title:hover {
  text-shadow: #b2b68b 2px 2px;
}

.speaker{
  display: flex;
  justify-content: center;
  text-shadow: #7d805e 2px 2px;
  text-align: center;

  position: relative;
  top: -25px;
  font-size: 18px;
}

.left{
  text-shadow: #7d805e 2px 2px;
}

.right{
  text-shadow: #7d805e -2px 2px;
}

.deck{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.song-display-container{
  border-top: 5px solid #797c5a;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content:flex-start;
  flex-direction: row;
}

.song-playing-status{
  width: 150px;
  background: #797c5a;

  height: 100%;
  color: rgb(201, 205, 161);

  display: flex;
  justify-content: center;
  align-items: center;
}

.song-current{
  padding: 0.5rem 1.25rem;
  color: #797c5a;
  width: calc(100% - 150px);
}

.artist-title,
.album-title,
.song-title,
.song-current:hover{
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;

}

.marquee{
  padding: 0px 20px;
}

.background{
  background: #797c5a;
  position: fixed;
  left: 50%;
  top: 50%;

  padding: 1rem 1.5rem;
  margin: 4px;

  transform: translate(calc(-50% - 4px), calc(-50% + 13px));
  z-index: 0;

  border-style: solid;
  border-width: 4px;

  border-image-slice: 3;
  border-image-width: 3;
  border-image-repeat: stretch;
  border-image-source: url(data:image/svg+xml;utf8,<?xml%20version=%221.0%22%20encoding=%22UTF-8%22%20?%3E%3Csvg%20version=%221.1%22%20width=%228%22%20height=%228%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpath%20d=%22M3%201%20h1%20v1%20h-1%20z%20M4%201%20h1%20v1%20h-1%20z%20M2%202%20h1%20v1%20h-1%20z%20M5%202%20h1%20v1%20h-1%20z%20M1%203%20h1%20v1%20h-1%20z%20M6%203%20h1%20v1%20h-1%20z%20M1%204%20h1%20v1%20h-1%20z%20M6%204%20h1%20v1%20h-1%20z%20M2%205%20h1%20v1%20h-1%20z%20M5%205%20h1%20v1%20h-1%20z%20M3%206%20h1%20v1%20h-1%20z%20M4%206%20h1%20v1%20h-1%20z%22%20fill=%22rgb%280,0,0%29%22%20/%3E%3C/svg%3E);
  border-image-outset: 2;

  width: 792px;
}

.center-deck{
  position: relative;
  top: -5px;
}

.loading-center{
  display: flex;
  align-items: center;
  height: 100%;
}

.loading-text{
  position: relative;
  top: 2px;
  
  text-shadow: #ced1aa 2px 2px;
  color: #797c5a;
}